/***** BASE STYLES *****/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #f2827f;
/***** HEADER *****/
nav {
    float: right;
    padding: 30px 10px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size:18px;
    color: #003a70;
    padding-left: 30px;
}
main h2 {
    font-family: 'Lora', serif;
    font-size:60px;
    line-height: 80px;
    color: #f2827f;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color: #003a70;
}
/***** ABOUT *****/
#about .full-width {
    padding: 80px 0;
}
#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    color: #003a70;
}

#about p {
  color: #d0858a;
    font-size: 21px;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}
/***** WORK *****/
#work {
  background-color:#eeeeee;
  text-align: center;
}
#work .full-width{
  padding: 115px, 0;
  padding-top: 100px;
  padding-bottom: 0px;
}
#work img{
  padding-bottom: 30px;
}
#work h3{
  color: #003a70;
  font-size: 24px;
  line-height: 32px;
  width: 190px;
  margin: 0 auto;
}
#work p{
  color: #d0858a;
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0px 50px;
}
/***** CONTACT *****/
  #contact .full-width {
    padding: 110px 0;
}
#contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #eeeeee;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact
ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
  color: #003a70;
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
  color: #003a70;
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 38px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  margin-right: 1px;
}
#rogue h2 {
  color: #003a70;
  font-size: 32px;
	float: left;
}
.container {
      width: auto;
      height: auto;
  }
  /* resize images */
.container img {
      width: auto;
      height: auto;
  }
